ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

button, input {
  border: none;
}

.container {
  outline: 2px solid red;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (width >= 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (width >= 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (width >= 1200px) {
  .container {
    width: 1200px;
  }
}

.findEvents {
  background-image: url("pic.5bcb4c02.webp");
  padding-bottom: 52px;
}

@media screen and (width >= 768px) {
  .findEvents {
    padding-bottom: 123px;
  }
}

@media screen and (width >= 1200px) {
  .findEvents {
    padding-bottom: 133px;
  }
}

.findEvents .title_events {
  color: #dc56c5;
  text-align: center;
  justify-content: center;
  padding-top: 78px;
  font-size: 18px;
  display: flex;
}

@media screen and (width >= 768px) {
  .findEvents .title_events {
    padding-top: 40px;
    font-size: 30px;
  }
}

@media screen and (width >= 1200px) {
  .findEvents .title_events {
    font-size: 50px;
  }
}

.findEvents .logo {
  width: 130px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (width >= 768px) {
  .findEvents .logo {
    width: 150px;
  }
}

@media screen and (width >= 1200px) {
  .findEvents .logo {
    width: 200px;
  }
}

.findEvents .search-box {
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  gap: 25px;
  margin-top: 25px;
  display: flex;
}

@media screen and (width >= 768px) {
  .findEvents .search-box {
    flex-direction: row;
    gap: 30px;
    margin-top: 27px;
    display: flex;
  }
}

@media screen and (width >= 1200px) {
  .findEvents .search-box {
    margin-top: 52px;
  }
}

.findEvents .search {
  color: #fff;
  background-color: #ffffff40;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 270px;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
}

.findEvents .search::placeholder {
  color: #ffffffb3;
}

.findEvents .search:focus {
  background-color: #ffffff59;
}

.modal {
  background-color: #fff2fd;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  width: 930px;
  height: 1023px;
  padding: 100px 40px 40px;
  position: relative;
}

.modal .modal_close {
  color: #4c00fe;
  cursor: pointer;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 34px;
  line-height: 1;
  transition: all .3s;
  position: absolute;
  top: 25px;
  right: 25px;
}

.modal .modal_close:hover {
  color: #dc56c5;
  transform: rotate(90deg) scale(1.1);
}

.modal .modal_content {
  align-items: flex-start;
  gap: 40px;
  display: flex;
}

.modal .modal_image {
  width: 360px;
  height: 641px;
}

.modal .modal_image img {
  width: 360px;
  height: 641px;
  margin-top: 25px;
}

.modal .modal_info {
  flex: 1;
}

.modal .modal_avatar {
  object-fit: cover;
  background: #fff;
  border-radius: 50%;
  width: 132px;
  height: 132px;
  margin-bottom: -50px;
  padding: 5px;
  position: relative;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.modal h2 {
  color: #dc56c5;
  margin-top: 20px;
  margin-bottom: 7px;
  font-size: 24px;
}

.modal a {
  color: #fff;
  background-color: #4c00fe;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.modal p {
  line-height: 1.3;
}

.modal .modal_btn {
  color: #4c00fe;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #4c00fe;
  margin: 40px auto 0;
  padding: 10px 40px;
  font-size: 16px;
  transition: all .3s;
  display: block;
}

.modal .modal_btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 12px 25px #4c00ff59;
}

select {
  border-radius: 20px;
}

select option {
  color: #ccc;
  background-color: #939393;
}

body {
  background-image: url("body.444c4d76.webp");
}

.list {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 30px;
  display: grid;
}

@media screen and (width >= 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
  }
}

@media screen and (width >= 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}

.item {
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  gap: 5px;
  width: 193px;
  display: flex;
}

.eventImage {
  object-fit: cover;
  border-radius: 50px 0;
  width: 128px;
  height: 161px;
}

@media screen and (width >= 768px) {
  .eventImage {
    width: 180px;
    height: 227px;
  }
}

.eventName {
  color: #dc56c5;
  text-align: center;
  font-size: 14px;
}

@media screen and (width >= 768px) {
  .eventName {
    font-size: 16px;
  }
}

.eventData {
  color: #fff;
  font-size: 14px;
}

@media screen and (width >= 768px) {
  .eventData {
    font-size: 16px;
  }
}

.eventAdress {
  color: #fff;
  font-size: 12px;
}

@media screen and (width >= 768px) {
  .eventAdress {
    font-size: 14px;
  }
}

.text_footer {
  color: #939393;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: flex;
}

@media screen and (width >= 768px) {
  .text_footer {
    font-size: 16px;
  }
}

.basicLightbox {
  opacity: .01;
  z-index: 1000;
  will-change: opacity;
  background: #000c;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: opacity .4s;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.basicLightbox--visible {
  opacity: 1;
}

.basicLightbox__placeholder {
  z-index: 1;
  will-change: transform;
  max-width: 100%;
  transition: transform .4s;
  transform: scale(.9);
}

.basicLightbox__placeholder > iframe:first-child:last-child, .basicLightbox__placeholder > img:first-child:last-child, .basicLightbox__placeholder > video:first-child:last-child {
  max-width: 95%;
  max-height: 95%;
  margin: auto;
  display: block;
  position: absolute;
  inset: 0;
}

.basicLightbox__placeholder > iframe:first-child:last-child, .basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}

.basicLightbox__placeholder > img:first-child:last-child, .basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}

.basicLightbox--iframe .basicLightbox__placeholder, .basicLightbox--img .basicLightbox__placeholder, .basicLightbox--video .basicLightbox__placeholder {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}
/*# sourceMappingURL=JS_Project4.9f367d21.css.map */
