body{
    background-image: url("/src/body.webp");
}

.list{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.item{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.eventImage{
    width: 180px;
    border-radius: 50px 0 50px 0;
}

.eventName{
    font-size: 16px;
    color: #DC56C5;
    text-align: center;
}

.eventData{
    font-size: 16px;
    color: white;
}

.eventAdress{
    font-size: 17px;
    color: white;
}