.text_footer {
    color: #939393;
    font-size: 14px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
        @media screen and (min-width: 768px){
          padding-top: 80px;
          font-size: 16px;
        }

}