.findEvents{
    background-image: url("/src/images/picMobile.webp");
    padding-bottom: 52px;

    @media screen and (min-width: 768px){
    background-image: url("/src/images/picTablet.webp");
    padding-bottom: 123px;
  }
  @media screen and (min-width: 1200px){
    background-image: url("/src/images/picPc.webp");
    padding-bottom: 133px;
  }


    .title_events{
        font-size: 18px;
        padding-top: 78px;
        color: #DC56C5;

        display: flex;
        justify-content: center;
        text-align: center;

        @media screen and (min-width: 768px){
          font-size: 30px;
          padding-top: 40px;
        }
        @media screen and (min-width: 1200px){
            font-size: 50px;
        }
    }

    .logo{
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;

        @media screen and (min-width: 768px){
    width: 150px;
  }
  @media screen and (min-width: 1200px){
    width: 200px;
  }   
    }

    .search-box {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        justify-content: center;
        gap: 25px;
        justify-self: center;

        @media screen and (min-width: 768px){
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-top: 27px;
  }
        @media screen and (min-width: 1200px){
          margin-top: 52px;
  }   
    }   

    .search {
        width: 270px;
        height: 40px;
        padding: 0 20px;
        border: none;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.25);
        color: #ffffff;
        font-size: 16px;
        outline: none;

            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }

            &:focus {
                background-color: rgba(255, 255, 255, 0.35);
            }
    }

}


