.modal {
    width: 930px;
    height: 1023px;
    padding: 40px;
    background-color: #FFF2FD;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    position: relative;
    padding-top: 100px;

    .modal_close {
        width: 40px;
        height: 40px;
        font-size: 34px;
        line-height: 1;
        color: #4C00FE;
        cursor: pointer;

        position: absolute;
        top: 25px;
        right: 25px;
        border: none;
        background: transparent;
        transition: .3s;

        &:hover {
            color: #DC56C5;
            transform: rotate(90deg) scale(1.1);
        }
    }

    .modal_content {

        display: flex;
        align-items: flex-start;
        gap: 40px;
    }

    .modal_image {
        width: 360px;
        height: 641px;

        img {
            object-fit: cover;
            width: 360px;
            height: 641px;
            margin-top: 25px;
        }
    }

    .modal_info {
        flex: 1;
    }

    .modal_avatar {
        width: 132px;
        height: 132px;
        border-radius: 50%;
        object-fit: cover;
        background: #fff;
        padding: 5px;
        margin-bottom: -50px;

        position: relative;
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
    }   

    h2 {
        font-size: 24px;
        color: #DC56C5;
        margin-bottom: 7px;
        margin-top: 20px;
    }

    a{
        width: 145px;
        height: 40px;
        background-color: #4C00FE;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        line-height: 1.3;
    }

    .modal_btn{
        padding: 10px 40px;
        border: 1px solid #4C00FE;
        background-color: white;
        color: #4C00FE;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 40px auto 0;

        display: block;

        &:hover {
            transform: translateY(-3px) scale(1.05);
            box-shadow: 0 12px 25px rgba(76, 0, 255, 0.35);
        }

    }
}

select {

    border-radius: 20px;

    & option {
        background-color: #939393;
        color: #CCCCCC;
    }
}